<div class="signup-form-wrap">
<div class="row">
  <div class="col-md-8 col-md-offset-2">
      <div class="form-content">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal', id: 'signup_form' },
          wrapper: :horizontal_form,
          wrapper_mappings: {
            check_boxes: :horizontal_radio_and_checkboxes,
            radio_buttons: :horizontal_radio_and_checkboxes,
            file: :horizontal_file_input,
            boolean: :horizontal_boolean
          }) do |f| %>
      
            <%= f.input :nickname, label: "登录名", placeholder: "输入登录名" %>

            <%= f.input :mobile, label: "手机", placeholder: "请输入11位正确的手机号", input_html: { id: 'user_mobile' } %>

            <%= f.input :password, label: "密码", placeholder: "密码至少6位", required: true %>
            <%= f.input :password_confirmation, label: "确认密码", placeholder: "请确保两次密码输入一致", required: true %>

            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success" data-disable-with="正在提交">注册</button>
              </div>
            </div>
      
        <% end %>
      </div>
    </div>
    
    <!-- <div class="col-md-4">
      <div class="user-reg-info">
        <h3>已经注册？</h3>
        <%= link_to "立即登录", new_user_session_path, class: "btn btn-success" %>
      </div>
    </div> -->
  </div>
</div>
