        <% content_for :subnav_content do %>
          <div class="topbar-content-area">
            <div class="container">
              <div class="topbar-content-wrap">
                <div class="carousel-wrap">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <%= image_tag 'banner1.jpg', class: 'd-block w-100 custom-img-height' %>
                      </div>
                      <div class="carousel-item">
                        <%= image_tag 'banner2.jpg', class: 'd-block w-100 custom-img-height' %>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
                <div class="login-wrap">
                  <h2 class="title">供应商登录</h2>
                  <div class="login-form">
                    <% if user_signed_in? %>
                    <div class="user-info">
                      <%= image_tag 'avatar/big.png', class: 'avatar' %>
                      <p class="name"><%= current_user.login %></p>
                    </div>
                    <!-- <p class="logined-tips">您已经登录成功！</p> -->
                    <div class="logined-buttons">
                      <%= link_to '进入供应商后台', home_user_path(current_user.login), class: 'btn btn-success btn-block' %>
                      <%= link_to '退出登录', destroy_user_session_path, method: :delete, class: 'btn btn-dark btn-block' %>
                    </div>
            
                    <% else %>
                  <%= simple_form_for(User.new, as: :user, url: session_path('user'), html: { class: 'form-horizontal' },
                      wrapper: :horizontal_form,
                      wrapper_mappings: {
                        check_boxes: :horizontal_radio_and_checkboxes,
                        radio_buttons: :horizontal_radio_and_checkboxes,
                        file: :horizontal_file_input,
                        boolean: :horizontal_boolean
                      }) do |f| %>

                        <div class="form-group">
                          <!-- <label class="sr-only" for="login">账号</label> -->
                          <!-- <div class="input-group"> -->
                            <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div> -->
                            <%= f.text_field :login, class: 'form-control', placeholder: '输入手机号/登录名' %>
                          <!-- </div> -->
                        </div>
      
                        <div class="form-group">
                          <!-- <label class="sr-only" for="login">密码</label> -->
                          <!-- <div class="input-group"> -->
                            <!-- <div class="input-group-addon"><i class="oi oi-lock-locked"></i></div> -->
                            <%= f.password_field :password, class: 'form-control', placeholder: '输入密码' %>
                          <!-- </div> -->
                        </div>

                        <div class="form-group">
                          <div class="controls">
                            <button type="submit" class="btn btn-success btn-block" data-disable-with="正在提交">登录</button>
                          </div>
        
                        </div>
      
                        <div class="form-group">
                          <div class="controls">
                            <span style="color: #333;">没有账号？</span><%= link_to '立即注册', new_user_registration_path, class: 'custom-link' %>
                          </div>
                        </div>

                        <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <section id="about" class="section counters">
          <div class="container">
            <div class="section-header">          
              <h2 class="section-title">合能集团</h2>
              <hr class="lines">
              <p class="section-subtitle">ALL DREAMS COME TRUE — 所有梦想都开花</p>
            </div>
            <!-- <%= raw SiteConfig.about_stats %> -->
            <div class="row"> 
              <div class="col-lg-3 col-md-6 col-xs-12"> 
                <div class="facts-item"> <div class="icon"> 
                  <i class="lnr lnr-clock"></i> 
                </div> 
                <div class="fact-count"> 
                  <h3><span class="counter">1992</span><span class="small">年</span></h3> 
                  <h4>合能地产成立</h4> 
                </div> 
              </div> 
            </div> 
        
            <div class="col-lg-3 col-md-6 col-xs-12"> 
              <div class="facts-item"> 
                <div class="icon"> <i class="lnr lnr-users"></i> </div> 
                <div class="fact-count"> 
                  <h3><span class="counter">1000</span><span class="small">人</span></h3> 
                  <h4>公司员工</h4> 
                </div> 
              </div> 
            </div> 
        
            <div class="col-lg-3 col-md-6 col-xs-12"> 
              <div class="facts-item"> 
                <div class="icon"> <i class="lnr lnr-location"></i> </div> 
                <div class="fact-count"> 
                  <h3><span class="counter">10</span><span class="small">座</span></h3> 
                  <h4>开拓城市</h4> 
                </div> 
              </div> 
            </div>
        
            <div class="col-lg-3 col-md-6 col-xs-12"> 
              <div class="facts-item"> 
                <div class="icon"> <i class="lnr lnr-apartment"></i> </div> 
                <div class="fact-count"> 
                  <h3><span class="counter">30</span><span class="small">+</span></h3> 
                  <h4>累计开发项目</h4> 
                </div> 
              </div> 
            </div>
        
          </div> 
      
        
            <div class="intros">
             <!-- <p><%= raw SiteConfig.company_intro %></p> -->
                   <p>合能地产1992年创建于香港，发展于全国，是一家专注地产开发，业务涉及商业运营、物业服务三大领域的集团化多元发展企业，截至目前资产规模近250亿元，拥有雇员1000余人。旗下部署深圳市合能房地产开发有限公司、成都合能房地产有限公司、西安合能房地产有限公司、成都合能物业管理有限公司、成都盛佳商业经营管理有限公司等10余家分公司。</p>

    <h5 style="text-align:center;">5大区域 ,5座核心城市</h5>
    <p>公司以成都为集团总部核心，以成都总部为集团核心，管理经营辐射西安、深圳、长沙、宁波等其他一、二线城市,计划开拓天津、杭州、昆明等国内一、二线省会城市，逐步扩大投资区域及规模，为尽快进入“百亿俱乐部”夯实基础</p>
            </div>
          </div>
        </section>
    <!-- Services Section Start -->
    <!-- <section id="services" class="section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">招标计划</h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">官方一站式招投标服务平台</p>
        </div>
        
      </div>
    </section> -->
    <!-- Services Section End -->

    <!-- Cases Section Start -->
    <section id="cases" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">合作伙伴</h2>
          <hr class="lines">
          <p class="section-subtitle">
            <!-- <%= SiteConfig.case_subtitle %> -->
          </p>
        </div>
        <div class="row">          
          <div class="col-md-12">
            <!-- Portfolio Controller/Buttons -->
            <div class="controls text-center">
              <a class="filter active btn btn-common" data-filter="all">
                全部 
              </a>
              <% @tags.each do |tag| %>
              <a class="filter btn btn-common" data-filter=".<%= tag.code %>">
                <%= tag.name %> 
              </a>
              <% end %>
            </div>
            <!-- Portfolio Controller/Buttons Ends-->
          </div>

          <!-- Portfolio Recent Projects -->
          <div id="portfolio" class="row">            
            <% @projects.each do |project| %>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix <%= project.tags.join(' ') %>">
              <div class="portfolio-item">
                <div class="shot-item">
                  <%= image_tag project.cover.url(:large) %>
                  <a class="overlay lightbox" href="<%= project_path(project.uniq_id) %>" target="_blank">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>               
              </div>
            </div>
            <% end %>

          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Cases Section End -->    

    <!-- partners Section -->

    <!-- partners Section Ends --> 

    <!-- Team section Start -->
    <!-- Team section End -->
    
    <!-- Contact Section Start -->
    <section id="contact" class="section" data-stellar-background-ratio="-0.2">      
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">联系我们</h2>
          <hr class="lines">
          <p class="section-subtitle">有任何招投标的问题，都可以通过下方联系到我们！</p>
        </div>
        <div class="contact-info table-responsive">
          <table class="table"> 
            <tr> 
              <td class="label">客服热线：</td> 
              <td>4006-490-900</td> 
            </tr> 
            <tr>
              <td class="label">集团总机：</td> 
              <td>028-86248000</td> 
            </tr> 
            <tr> 
              <td class="label">地址：</td> 
              <td>四川省成都市青羊区西大街1号</td> 
            </tr> 
          </table>
        </div>       
      </div> 
    </section>
    <!-- Contact Section End -->