<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <meta charset='utf-8' />
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- non responsive -->
  <%= stylesheet_link_tag  'account', 'data-turbolinks-track': 'reload' %>
  
  <link rel="shortcut icon" href="<%= asset_path("favicon.ico") %>" />
  
  <%= yield :styles %>
  
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  
</head>
<body>      
  <div class="logo-wrap">
    <div class="container">
      <a href="/">
        <%= image_tag 'logo.png', class: 'logo' %>
      </a>
      <span class="title"><%= @action %></span>
    </div>
  </div>
  
  <div class="account-wrap">
    <div class="container">
      <%= yield %>
    </div>
  </div>
  
  <div class="footer">
    <div class="copyright">
      <small>
          版权所有 &copy; <%= Time.now.year %> 合能集团 保留所有权利.蜀ICP备14031323号
        </small>
    </div>
  </div>
  
  <%= javascript_include_tag 'account', 'data-turbolinks-track': 'reload' %>
  <%= yield :scripts %>
</body>
</html>